header {
  position: relative;
}
header .container {
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 15px 20px 15px;
}
header .container__header-logo-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

header .container__header-logo-image {
  padding: 0 10px 0 0;
}

.header-logo-heading {
  width: 240px;
  font-family: "lato";
  font-size: 15px;
  color: #505050;
  font-weight: 900;
  padding-left: 10px;
}

header .container__navbar {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
header .container__navbar a {
  color: #505050;
  font-size: 14px;
  font-family: "lato";
  text-decoration: none;
}
header .container__navbar .navbar-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 13px;
}
header .container__navbar .navbar-top .top-link-info {
  color: #505050;
  font-size: 14px;
  font-family: "lato";
  text-decoration: none;
  padding: 0 0 0 30px;
}
header .container__navbar .navbar-top .top-link-info-about {
  color: #505050;
  font-size: 14px;
  font-family: "lato";
  text-decoration: none;
}
header .container__navbar .navbar-top .top-link-section {
  margin: 0 0 0 20px;
}
header .container__navbar .small-size-A {
  font-family: "Fira sans";
  font-weight: 900;
  padding-top: 4px;
  text-decoration: none;
  color: #505050;
  font-size: 11px;
}
header .container__navbar .medium-size-A {
  font-size: 14px;
  font-family: "Fira sans";
  font-weight: 900;
  padding-top: 2px;
  padding-left: 12px;
  text-decoration: none;
  color: #505050;
}
header .container__navbar .large-size-A {
  font-size: 16px;
  font-family: "Fira sans";
  font-weight: 900;
  padding-left: 14px;
  text-decoration: none;
  color: #505050;
}
header .container__navbar .language {
  margin: 0 0 0 20px;
  font-family: "Fira sans";
  font-size: 14px;
  border-top: 0;
  border-bottom: 0;
  padding: 0 10px 0 10px;
}

header .container__blue-circle, header .container__green-circle, header .container__yellow-circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

header .container__blue-circle {
  background-color: #265781;
  margin: 1px 0 0 10px;
}

header .container__green-circle {
  background-color: #52b27B;
  margin: 1px 0 0 10px;
}

header .container__yellow-circle {
  background-color: #F2e162;
  margin: 1px 0 0 10px;
}

header .container__search-image {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px #265781 solid;
}

.navbar-bottom {
  display: flex;
  justify-content: flex-end;
}
.navbar-bottom .bottom-link-content-home {
  color: #505050;
  font-size: 14px;
  font-family: "lato";
  padding: 0 9px 0 0px;
}
.navbar-bottom .bottom-link-content {
  color: #505050;
  font-size: 14px;
  font-family: "lato";
  padding: 0px 9px 0px 9px;
  border-left: 1px #265781 solid;
}
.navbar-bottom .bottom-link-content-decisions {
  color: #505050;
  font-size: 14px;
  font-family: "lato";
  padding: 0 0 0 9px;
  border-left: 1px #265781 solid;
}

.container {
  max-width: 1125px;
  width: 100%;
  margin: 0 auto;
}

.banner-image {
  width: 100%;
}

.banner-section {
  position: relative;
}
.banner-section .banner-heading-section {
  position: absolute;
  bottom: 90px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.banner-section .banner-heading-section .main-heading {
  background-color: #1b7642;
  font-family: "lato";
  font-weight: 900;
  color: #ffffff;
  font-size: 57px;
  padding: 0 20px 0px 20px;
  margin: 0 0 0 0;
}
.banner-section .banner-heading-section .sub-heading {
  background-color: #1b7642;
  font-family: "lato";
  font-weight: 900;
  color: #ffffff;
  font-size: 35px;
  padding: 16px 23px 16px 23px;
  margin: 4px 0 0 0;
}
.banner-section .banner-heading-section .banner-button {
  background-color: #ffffff;
  color: #272727;
  font-size: 22px;
  font-family: "lato";
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  margin: 30px 0 0 0;
}
.banner-section .square-box {
  display: flex;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.manage-develop-section {
  position: relative;
  margin-top: 130px !important;
  max-width: 1125px;
  padding: 0 15px 0 60px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.manage-develop-section .manage-develop-section__manage-develop-content {
  width: 980px;
}
.manage-develop-section__manage-develop-main-text {
  font-family: "lato";
  font-size: 43px;
  color: #505050;
  margin: 0 0 0 0;
  padding: 0 0 3px 142px;
  font-weight: 900;
}
.manage-develop-section__irrigation-title {
  margin: 0 0 0 0;
  font-size: 131px;
  font-weight: 900;
  padding: 0;
  background-image: url(../images/banner.png);
  font-family: sans-serif;
  color: transparent;
  line-height: 1;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: cover;
  background-position: 22rem -11rem;
}
.manage-develop-section__manage-develop-sub-text {
  font-family: "lato";
  font-size: 43px;
  color: #505050;
  padding: 3px 0 0 0;
  margin: 0;
  text-align: end;
  font-weight: 900;
}
.manage-develop-section__irrigation-logo-image {
  position: absolute;
  right: 12px;
  top: 10px;
}

.services {
  background-image: linear-gradient(to bottom, #ffffff, #f8f8f8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 162px 0 100px 0;
}
.services .services__text {
  width: 120px;
  font-family: "lato";
  font-size: 16px;
  margin: 0 87px 0 0;
  color: #505050;
  text-decoration: none;
  font-weight: 900;
  text-align: center;
}
.services__text:nth-child(5) {
  margin-right: 0;
  margin-bottom: 20px;
}
.services__logo {
  height: 75px;
  width: 75px;
  margin: 0 0 20px 0;
}

.about-us {
  position: relative;
  background-color: #3f3531;
  height: 521px;
}
.about-us .about-us__bg-white-image {
  width: 32%;
  height: 100%;
}
.about-us .about-us__container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 90px;
  right: 0;
  left: 0;
  max-width: 1125px;
  width: 100%;
  margin: 0 auto;
}
.about-us .about-us__container .about-us__nature-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us .about-us__container .about-us__play-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
}
.about-us .about-us__container .about-us__content-section {
  width: 393px;
}
.about-us .about-us__container .about-us__content-section .about-us__main-heading {
  color: #ffffff;
  font-family: "Lato";
  font-weight: 900;
  font-size: 36px;
  margin: 0;
}
.about-us .about-us__container .about-us__content-section .about-us__text {
  color: #ffffff;
  font-family: "Lato";
  font-size: 16px;
  margin: 15px 0 30px 0;
}
.about-us .about-us__container .about-us__content-section .about-us__button {
  background-color: #1b7642;
  padding: 7px 15px 7px 15px;
  color: #ffffff;
  font-size: 22px;
  font-family: "Lato";
  border-width: 0px;
  text-decoration: none;
  display: inline-block;
}

.grass-image {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 84px;
}

.footer {
  width: 100%;
  background-color: #1B7642;
  height: 414px;
}
.footer__container {
  max-width: 1125px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__links {
  display: flex;
  flex-direction: column;
  width: 720px;
  margin: 25px 0 0 0;
}
.footer__subscribe {
  position: relative;
  margin: 15px 0 25px 0;
}
.footer__subscribe-title {
  font-size: 22px;
  font-weight: 900;
  color: #ffffff;
  font-family: Lato;
}
.footer__subscribe-input {
  width: 672px;
  height: 46px;
  background-color: #186a3b;
  border-radius: 30px;
  border-style: none;
  margin-top: 16px;
  padding: 0 0 0 15px;
}
.footer__subscribe-button {
  position: absolute;
  color: #393939;
  background-color: #ffffff;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 30px;
  font-family: "Kunstler Script";
  top: 46px;
  right: 32px;
  text-decoration: none;
}
.footer__links-info {
  display: flex;
  flex-direction: row;
  margin: 0 0 70px 0;
}
.footer__links-about-us {
  padding: 0 110px 0 0;
  display: flex;
  flex-direction: column;
}
.footer__links-text {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-family: "lato";
}
.footer__links-heading {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px 0;
  font-family: Lato;
}
.footer__links-empty-space {
  height: 32px;
}
.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__copyright-section {
  display: flex;
  flex-direction: column;
}
.footer__copyright-text {
  color: #ffffff;
  font-size: 12px;
  margin: 0;
  font-weight: 700;
}
.footer__copyright-rights-reserved {
  color: #ffffff;
  font-size: 12px;
  margin: 0;
}
.footer__copyright-powered {
  color: #ffffff;
  font-size: 12px;
  margin: 0;
  font-weight: 700;
  text-align: flex-end;
}
.footer__copyright-webworks {
  color: #ffffff;
  font-size: 12px;
  margin: 0;
  text-align: flex-end;
}
.footer__card {
  margin: 15px 0 0 0;
  background-color: #1B6D3E;
  padding: 34px;
}
.footer__contact-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 17px 0;
}
.footer__contact-section:nth-child(3) {
  margin: 0 0 34px 0;
}
.footer__contact-information {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 26px;
  width: 250px;
  border-bottom: 1px #488964 solid;
}
.footer__contact-heading {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  margin: 0 0 5px 0;
  font-family: "lato";
}
.footer__contact-address {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  font-family: "lato";
  margin: 0 0 17px 0;
}
.footer__call-us {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  font-family: "lato";
  margin: 0 0 17px 0;
}
.footer__email-information {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 16px;
}
.footer__email-text {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  font-family: "lato";
}
.footer__follow-us {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__follow-us-text {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  padding: 0 30px 0 0;
  font-family: "lato";
  border-right: 1px #488964 solid;
}
.footer__follow-us-icons-section {
  padding: 0 0 0 10px;
}
.footer__follow-icons {
  color: #ffffff;
  padding: 0 0 0 20px;
}

body {
  margin: 0;
}