.grass-image {
    width: 100%;
    @include flex-properties(flex, row);
    margin-top: 84px;
}

.footer {
    width: 100%;
    background-color: #1B7642;
    height: 414px;
}

.footer__container {
    max-width: 1125px;
    width: 100%;
    margin: 0 $auto;
    padding: 0 15px;
    left: 0;
    right: 0;
    @include flex-properties(flex, row);
    justify-content: space-between;
}

.footer__links {
    @include flex-properties(flex, column);
    width: 720px;
    margin: 25px 0 0 0;
}

.footer__subscribe {
    position: $relative;
    margin: 15px 0 25px 0;
}

.footer__subscribe-title {
    font-size: 22px;
    font-weight: $weight;
    color: $color-white;
    font-family: Lato;
}

.footer__subscribe-input {
    width: 672px;
    height: 46px;
    background-color: #186a3b;
    border-radius: 30px;
    border-style: $none;
    margin-top: 16px;
    padding: 0 0 0 15px;
}

.footer__subscribe-button {
    position: $absolute;
    color: #393939;
    background-color: $color-white;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 30px;
    font-family: "Kunstler Script";
    top: 46px;
    right: 32px;
    text-decoration: $none;
}

.footer__links-info {
    @include flex-properties(flex, row);
    margin: 0 0 70px 0;
}

.footer__links-about-us {
    padding: 0 110px 0 0;
    @include flex-properties(flex, column);
}

.footer_links-text {
    text-decoration: $none;
    color: $color-white;
    font-size: 14px;
    font-family: $family;
}

.footer_links-heading {
    text-decoration: $none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px 0;
    font-family: Lato;
}

.footer__links-empty-space {
    height: 32px;
}

.footer__copyright {
    @include flex-properties(flex, row);
    justify-content: space-between;
}

.footer__copyright-section {
    @include flex-properties(flex, column);
}

.footer__copyright-text {
    color: $color-white;
    font-size: 12px;
    margin: 0;
    font-weight: 700;
}

.footer__copyright-rights-reserved {
    color: $color-white;
    font-size: 12px;
    margin: 0;
}

.footer__copyright-powered {
    color: $color-white;
    font-size: 12px;
    margin: 0;
    font-weight: 700;
    text-align: $end;
}

.footer__copyright-webworks {
    color: $color-white;
    font-size: 12px;
    margin: 0;
    text-align: $end;
}

.footer__card {
    margin: 15px 0 0 0;
    background-color: #1B6D3E;
    padding: 34px;
}

.footer__contact-section {
    @include flex-properties(flex, row);
    align-items: $center;
    margin: 0 0 17px 0;
    &:nth-child(3) {
        margin: 0 0 34px 0;
    }
}

.footer__contact-information {
    @include flex-properties(flex, column);
    margin: 0 0 0 26px;
    width: 250px;
    border-bottom: 1px #488964 solid;
}

.footer__contact-heading {
    font-size: 18px;
    font-weight: 700;
    color: $color-white;
    text-decoration: $none;
    margin: 0 0 5px 0;
    font-family: $family;
}

.footer__contact-address {
    font-size: 14px;
    color: $color-white;
    text-decoration: $none;
    font-family: $family;
    margin: 0 0 17px 0;
}

.footer__call-us {
    font-size: 14px;
    color: $color-white;
    text-decoration: $none;
    font-family: $family;
    margin: 0 0 17px 0;
}

.footer__email-information {
    @include flex-properties(flex, column);
    margin: 0 0 0 16px;
}

.footer__email-text {
    font-size: 14px;
    color: $color-white;
    text-decoration: $none;
    font-family: $family;
}

.footer__follow-us {
    @include flex-properties(flex, row);
    align-items: $center;
}

.footer__follow-us-text {
    font-size: 18px;
    font-weight: 700;
    color: $color-white;
    padding: 0 30px 0 0;
    font-family: $family;
    border-right: 1px #488964 solid;
}

.footer__follow-us-icons-section {
    padding: 0 0 0 10px;
}

.footer__follow-icons {
    color: $color-white;
    padding: 0 0 0 20px;
}