.grass-image {
    width: 100%;
    display: block;
    margin-top: 84px;
}

.footer {
    background-color: #1B7642;
    height: 416px;
    &__container {
        max-width: 1125px;
        width: 100%;
        margin: 0 $auto;
        padding: 0 15px;
        left: 0;
        right: 0;
        @include flex-properties(flex, row);
        justify-content: space-between;
    }
    &__links {
        @include flex-properties(flex, column);
        width: 720px;
        margin: 25px 0 0 0;
    }
    &__subscribe {
        position: $relative;
        margin: 15px 0 25px 0;
    }
    &__subscribe-title {
        font-size: 22px;
        font-weight: $weight;
        color: $color-white;
        font-family: Lato;
    }
    &__subscribe-input {
        width: 672px;
        height: 46px;
        color: $color-white;
        background-color: #186a3b;
        border-radius: 30px;
        border-style: $none;
        margin-top: 16px;
        padding: 0 0 0 15px;
    }
    &__subscribe-button {
        position: $absolute;
        color: #393939;
        background-color: $color-white;
        border-radius: 25px;
        font-size: 16px;
        font-weight: 700;
        padding: 10px 30px;
        top: 46px;
        right: 36px;
        border-style: none;
    }
    &__links-info {
        @include flex-properties(flex, row);
        margin: 0 0 70px 0;
    }
    &__links-about-us {
        padding: 0 110px 0 0;
        @include flex-properties(flex, column);
    }
    &__links-text {
        text-decoration: $none;
        color: $color-white;
        font-size: 14px;
        font-family: $family;
    }
    &__links-heading {
        text-decoration: $none;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        margin: 0 0 10px 0;
        font-family: Lato;
    }
    &__links-empty-space {
        height: 32px;
    }
    &__copyright {
        @include flex-properties(flex, row);
        justify-content: space-between;
    }
    &__copyright-section {
        @include flex-properties(flex, column);
    }
    &__copyright-text {
        color: $color-white;
        font-size: 12px;
        margin: 0;
        font-weight: 700;
    }
    &__copyright-rights-reserved {
        color: $color-white;
        font-size: 12px;
        margin: 0;
    }
    &__copyright-powered {
        color: $color-white;
        font-size: 12px;
        margin: 0;
        font-weight: 700;
        text-align: $end;
    }
    &__copyright-webworks {
        color: $color-white;
        font-size: 12px;
        margin: 0;
        text-align: $end;
    }
    &__card {
        margin: 15px 0 0 0;
        background-color: #1B6D3E;
        padding: 34px;
    }
    &__contact-section {
        @include flex-properties(flex, row);
        align-items: $center;
        margin: 0 0 17px 0;
        &:nth-child(3) {
            margin: 0 0 34px 0;
        }
    }
    &__contact-information {
        @include flex-properties(flex, column);
        margin: 0 0 0 26px;
        width: 250px;
        border-bottom: 1px #488964 solid;
    }
    &__contact-heading {
        font-size: 18px;
        font-weight: 700;
        color: $color-white;
        text-decoration: $none;
        margin: 0 0 5px 0;
        font-family: $family;
    }
    &__contact-address {
        font-size: 14px;
        color: $color-white;
        text-decoration: $none;
        font-family: $family;
        margin: 0 0 17px 0;
    }
    &__call-us {
        font-size: 14px;
        color: $color-white;
        text-decoration: $none;
        font-family: $family;
        margin: 0 0 17px 0;
    }
    &__email-information {
        @include flex-properties(flex, column);
        margin: 0 0 0 16px;
    }
    &__email-text {
        font-size: 14px;
        color: $color-white;
        text-decoration: $none;
        font-family: $family;
    }
    &__follow-us {
        @include flex-properties(flex, row);
        align-items: $center;
    }
    &__follow-us-text {
        font-size: 18px;
        font-weight: 700;
        color: $color-white;
        padding: 0 30px 0 0;
        font-family: $family;
        border-right: 1px #488964 solid;
    }
    &__follow-us-icons-section {
        padding: 0 0 0 10px;
    }
    &__follow-icons {
        color: $color-white;
        padding: 0 0 0 20px;
    }
}