.grass-image {
    width: 100%;
    display: block;
}

.footer {
    background-color: $footer-background-color;
    &__container {
        max-width: 1125px;
        width: 100%;
        margin: 0 auto;
        padding: 26px 15px 26px 15px;
        left: 0;
        right: 0;
        @include flex-properties(flex, row);
        justify-content: space-between;
    }
    &__links {
        @include flex-properties(flex, column);
        margin-top: 35px;
    }
    &__subscribe {
        position: relative;
        margin: 0 0 25px 0;
    }
    &__subscribe-title {
        font-size: 22px;
        font-weight: $weight;
        color: $color-white;
        font-family: Lato;
    }
    &__subscribe-input {
        width: 672px;
        height: 46px;
        color: $color-white;
        background-color: $subscribe-input-color;
        border-radius: 30px;
        border-style: none;
        padding: 0 0 0 15px;
        &::placeholder {
            color: $color-white;
        }
    }
    &__subscribe-button {
        position: absolute;
        color: $subscribe-button-color;
        background-color: $color-white;
        border-radius: 25px;
        font-size: 16px;
        font-weight: 700;
        padding: 10px 30px;
        top: 30px;
        right: 54px;
        border-style: none;
    }
    &__links-info {
        @include flex-properties(flex, row);
        margin: 0 0 70px 0;
    }
    &__about-us-list {
        padding: 0 110px 0 0;
        @include flex-properties(flex, column);
    }
    &__links-empty {
        @include flex-properties(flex, column);
        margin-top: 27px;
    }
    &__item,
    &__last-item {
        text-decoration: none;
        color: $color-white;
        font-size: 14px;
        font-family: $primary-family;
    }
    &__item {
        margin-bottom: 10px;
    }
    &__list-heading {
        text-decoration: none;
        color: $color-white;
        font-size: 18px;
        font-weight: $weight;
        margin: 0 0 12px 0;
        font-family: Lato;
    }
    &__copy-right {
        @include flex-properties(flex, row);
        justify-content: space-between;
    }
    &__copy-right-section {
        @include flex-properties(flex, column);
    }
    &__copy-right-text {
        padding: 0 0 5px 0;
        font-weight: 700;
    }
    &__copy-right-text,
    &__copy-right-powered,
    &__copy-right-rights-reserved,
    &__copy-right-webworks {
        color: $color-white;
        font-size: 12px;
        margin: 0;
        font-family: Lato;
    }
    &__copy-right-powered {
        padding: 0 0 5px 0;
        font-weight: 700;
        text-align: end;
    }
    &__copy-right-webworks {
        text-align: end;
    }
    &__card {
        background-color: $footer-card-bg-color;
        padding: 34px;
        margin: 0 0 0 20px
    }
    &__email-details,
    &__contact-details {
        @include flex-properties(flex, row);
        align-items: center;
        margin: 0 0 17px 0;
    }
    &__email-details {
        margin: 0 0 34px 0;
    }
    &__contact-information {
        @include flex-properties(flex, column);
        margin: 0 0 0 26px;
        width: 250px;
        border-bottom: 1px $follow-us-border-color solid;
    }
    &__contact-heading {
        font-size: 18px;
        font-weight: 700;
        color: $color-white;
        text-decoration: none;
        margin: 0 0 5px 0;
        font-family: $primary-family;
    }
    &__contact-us {
        font-size: 14px;
        color: $color-white;
        text-decoration: none;
        font-family: $primary-family;
        margin: 0 0 17px 0;
    }
    &__call-us {
        font-size: 14px;
        color: $color-white;
        text-decoration: none;
        font-family: $primary-family;
        margin: 0 0 17px 0;
    }
    &__email-information {
        @include flex-properties(flex, column);
        margin: 0 0 0 16px;
    }
    &__email-text {
        font-size: 14px;
        color: $color-white;
        text-decoration: none;
        font-family: $primary-family;
    }
    &__follow-us {
        @include flex-properties(flex, row);
        align-items: center;
    }
    &__follow-us-title {
        font-size: 18px;
        font-weight: 700;
        color: $color-white;
        padding: 0 30px 0 0;
        font-family: $primary-family;
        border-right: 1px $follow-us-border-color solid;
    }
    &__follow-us-icons {
        padding: 0 0 0 10px;
    }
    &__icon {
        color: $color-white;
        padding: 0 0 0 20px;
    }
}