header {
    position: $relative;
    .container {
        max-width: 1125px;
        width: 100%;
        margin: 0 $auto;
        padding: 0 15px;
        @include flex-properties($flex, $row-direction);
        justify-content: $space-between;
        align-items: $center;
        padding: 18px 15px 20px 15px;
        @at-root {
            &__header-logo-section {
                @include flex-properties($flex, $row-direction);
                align-items: $center;
                text-decoration: $none;
            }
            &__header-logo-image {
                padding: 0 10px 0 0;
            }
            .header-logo-heading {
                width: 240px;
                font-family: $family;
                font-size: 15px;
                color: $color-dark;
                font-weight: $weight;
            }
            &__navbar {
                flex-direction: $column-direction;
                align-items: $center;
                justify-content: $space-between;
                a {
                    color: $color-dark;
                    font-size: 14px;
                    font-family: $family;
                    text-decoration: $none;
                }
                .navbar-top {
                    @include flex-properties($flex, $row-direction);
                    justify-content: $end;
                    align-items: $center;
                    margin-bottom: 13px;
                    .top-link-info {
                        color: $color-dark;
                        font-size: 14px;
                        font-family: $family;
                        text-decoration: $none;
                        padding: 0 0 0 30px;
                    }
                    .top-link-info-about {
                        color: $color-dark;
                        font-size: 14px;
                        font-family: $family;
                        text-decoration: $none;
                    }
                    .top-link-section {
                        margin: 0 0 0 20px;
                    }
                }
                .small-size-A {
                    font-family: $Firasans-family;
                    font-weight: $weight;
                    padding-top: 4px;
                    text-decoration: $none;
                    color: $color-dark;
                    font-size: 11px;
                }
                .medium-size-A {
                    font-size: 14px;
                    font-family: $Firasans-family;
                    font-weight: $weight;
                    padding-top: 2px;
                    padding-left: 12px;
                    text-decoration: $none;
                    color: $color-dark;
                }
                .large-size-A {
                    font-size: 16px;
                    font-family: $Firasans-family;
                    font-weight: $weight;
                    padding-left: 14px;
                    text-decoration: $none;
                    color: $color-dark;
                }
                .language {
                    margin: 0 0 0 20px;
                    font-family: $Firasans-family;
                    font-size: 14px;
                    border-top: 0;
                    border-bottom: 0;
                    padding: 0 10px 0 10px;
                }
            }
            &__blue-circle,
            &__green-circle,
            &__yellow-circle {
                height: 15px;
                width: 15px;
                border-radius: 50%;
            }
            &__blue-circle {
                background-color: $color-blue;
                margin: 1px 0 0 10px;
            }
            &__green-circle {
                background-color: $color-green;
                margin: 1px 0 0 10px;
            }
            &__yellow-circle {
                background-color: $color-yellow;
                margin: 1px 0 0 10px;
            }
            &__search-image {
                margin: 0 0 0 10px;
                padding: 0 0 0 10px;
                border-left: 1px $color-blue solid;
            }
            .navbar-bottom {
                display: $flex;
                justify-content: $end;
                .bottom-link-content-home {
                    color: $color-dark;
                    font-size: 14px;
                    font-family: $family;
                    padding: 0 9px 0 0px;
                }
                .bottom-link-content {
                    color: $color-dark;
                    font-size: 14px;
                    font-family: $family;
                    padding: 0px 9px 0px 9px;
                    border-left: 1px $color-blue solid;
                }
                .bottom-link-content-decisions {
                    color: $color-dark;
                    font-size: 14px;
                    font-family: $family;
                    padding: 0 0 0 9px;
                    border-left: 1px $color-blue solid;
                }
            }
        }
    }
}