.container {
    width: 1125px;
    margin: 0 $auto;
}

.banner-image {
    width: 100%;
}

.banner-section {
    position: $relative;
    .banner-heading-section {
        position: $absolute;
        bottom: 90px;
        right: 0;
        left: 0;
        @include flex-properties($flex, $column-direction);
        justify-content: $space-between;
        align-items: $start;
        .main-heading {
            background-color: $dark-green;
            font-family: $family;
            font-weight: $weight;
            color: $color-white;
            font-size: 57px;
            padding: 0 20px 0px 20px;
            margin: 0 0 0 0;
        }
        .sub-heading {
            background-color: $dark-green;
            font-family: $family;
            font-weight: $weight;
            color: $color-white;
            font-size: 35px;
            padding: 16px 23px 16px 23px;
            margin: 4px 0 0 0;
        }
        .banner-button {
            background-color: $color-white;
            color: $color-balck;
            font-size: 22px;
            font-family: $family;
            text-decoration: $none;
            padding: 10px 20px 10px 20px;
            margin: 30px 0 0 0;
        }
    }
    .square-box {
        display: $flex;
        position: $absolute;
        bottom: -30px;
        left: 0;
        right: 0;
        margin: 0 $auto;
        justify-content: $center;
        align-items: $center;
    }
}

.manage-develop-section {
    position: $relative;
    margin-top: 136px !important;
    padding: 0 0 0 85px !important;
    max-width: 1125px;
    width: 100%;
    margin: 0 $auto;
    padding: 0 15px;
    .irrigation-image-section {
        @include flex-properties($flex, $row-direction);
        .manage-develop-main-text {
            font-family: $family;
            font-size: 43px;
            color: $color-dark;
            margin: 0 0 0 0;
            padding: 0 0 3px 120px;
            font-weight: $weight;
        }
        .irrigation-image {
            margin: 0 0 0 0;
            font-size: 131px;
            font-weight: $weight;
            padding: 0;
            background-image: url(../images/banner);
            font-family: $sansserif-family;
            color: transparent;
            line-height: 1;
            -webkit-background-clip: text;
            background-clip: text;
            background-size: cover;
            background-position: 22rem -11rem;
        }
        .manage-develop-sub-text {
            font-family: $family;
            font-size: 43px;
            color: $color-dark;
            padding: 3px 0 0 380px;
            margin: 0 0 0 0;
            font-weight: $weight;
        }
        .irrigation-logo-image {
            position: $absolute;
            right: -15px;
            top: 10px;
        }
    }
}

.services-section {
    background-image: linear-gradient(to bottom, #ffffff, #f8f8f8);
    @include flex-properties($flex, $row-direction);
    justify-content: $center;
    padding: 121px 0 100px 100px;
    .service-items {
        list-style-type: $none;
        @include flex-properties($flex, $row-direction);
        justify-content: $space-around;
        align-items: $center;
        padding-left: 0;
        margin: 0;
        .items {
            text-align: $center;
            margin: 0 77px 0 0;
            @include flex-properties($flex, $column-direction);
            justify-content: $space-between;
        }
        .logo {
            height: 75px;
            width: 75px;
        }
        .sprinkler-item {
            text-align: $center;
            @include flex-properties($flex, $column-direction);
            margin-right: 0;
        }
        .anchor-text {
            width: 120px;
            font-family: $family;
            font-size: 16px;
            color: $color-dark;
            text-decoration: $none;
            font-weight: $weight;
            padding: 15px 0 0 0;
        }
    }
}

.section3 {
    position: relative;
    margin: 100px 0 0 0;
    background-color: #3f3531;
    height: 521px;
    .container {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 90px;
        left: 0;
        right: 145px;
        .section3-bg-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 45px;
            .play-button {
                margin: 10px 440px 0 0;
            }
            .section3-main-heading {
                color: #ffffff;
                font-family: "Lato";
                font-size: 36px;
                width: 197px;
            }
            .section3-text {
                color: #ffffff;
                font-family: "Lato";
                font-size: 16px;
                width: 393px;
            }
            .section3-button {
                background-color: #1b7642;
                padding: 7px 15px 7px 15px;
                color: #ffffff;
                font-size: 22px;
                font-family: "Lato";
                border-width: 0px;
            }
        }
    }
}