.container {
    max-width: 1125px;
    width: 100%;
    margin: 0 $auto;
}

.banner-image {
    width: 100%;
}

.banner-section {
    position: $relative;
    .banner-heading-section {
        position: $absolute;
        bottom: 90px;
        right: 0;
        left: 0;
        @include flex-properties($flex, $column-direction);
        justify-content: $space-between;
        align-items: $start;
        .main-heading {
            background-color: $dark-green;
            font-family: $family;
            font-weight: $weight;
            color: $color-white;
            font-size: 57px;
            padding: 0 20px 0px 20px;
            margin: 0 0 0 0;
        }
        .sub-heading {
            background-color: $dark-green;
            font-family: $family;
            font-weight: $weight;
            color: $color-white;
            font-size: 35px;
            padding: 16px 23px 16px 23px;
            margin: 4px 0 0 0;
        }
        .banner-button {
            background-color: $color-white;
            color: $color-balck;
            font-size: 22px;
            font-family: $family;
            text-decoration: $none;
            padding: 10px 20px 10px 20px;
            margin: 30px 0 0 0;
        }
    }
    .square-box {
        display: $flex;
        position: $absolute;
        bottom: -30px;
        left: 0;
        right: 0;
        margin: 0 $auto;
        justify-content: $center;
        align-items: $center;
    }
}

.manage-develop-section {
    position: $relative;
    margin-top: 130px !important;
    max-width: 1125px;
    padding: 0 15px 0 60px;
    width: 100%;
    margin: 0 $auto;
    @include flex-properties($flex, $row-direction);
    &__manage-develop-main-text {
        font-family: $family;
        font-size: 43px;
        color: $color-dark;
        margin: 0 0 0 0;
        padding: 0 0 3px 142px;
        font-weight: $weight;
    }
    &__irrigation-title {
        margin: 0 0 0 0;
        font-size: 131px;
        font-weight: $weight;
        padding: 0;
        background-image: url(../images/banner.png);
        font-family: $sansserif-family;
        color: transparent;
        line-height: 1;
        -webkit-background-clip: text;
        background-clip: text;
        background-size: cover;
        background-position: 22rem -11rem;
    }
    &__manage-develop-sub-text {
        font-family: $family;
        font-size: 43px;
        color: $color-dark;
        padding: 3px 0 0 0;
        margin: 0;
        text-align: end;
        font-weight: $weight;
    }
    &__irrigation-logo-image {
        position: $absolute;
        right: 12px;
        top: 10px;
    }
    &__manage-develop-content {
        width: 980px;
    }
}

.services {
    background-image: linear-gradient(to bottom, #ffffff, #f8f8f8);
    @include flex-properties($flex, $row-direction);
    justify-content: $center;
    padding: 162px 0 100px 0;
    &__text:nth-child(5) {
        margin-right: 0;
        margin-bottom: 20px;
    }
    &__logo {
        height: 75px;
        width: 75px;
        margin: 0 0 20px 0;
    }
    &__text {
        width: 120px;
        font-family: $family;
        font-size: 16px;
        margin: 0 87px 0 0;
        color: $color-dark;
        text-decoration: $none;
        font-weight: $weight;
        text-align: $center;
    }
}

.about-us {
    position: relative;
    background-color: #3f3531;
    height: 521px;
    &__container {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 90px;
        right: 0;
        left: 0;
        max-width: 1125px;
        width: 100%;
        margin: 0 $auto;
    }
    &__nature-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__play-button {
        position: absolute;
        display: flex;
        align-items: $center;
        justify-content: $center;
        height: 80px;
        width: 80px;
    }
    &__button {
        background-color: #1b7642;
        padding: 7px 15px 7px 15px;
        color: #ffffff;
        font-size: 22px;
        font-family: $family;
        border-width: 0px;
        text-decoration: none;
        display: inline-block;
    }
    &__text {
        color: #ffffff;
        font-family: "Lato";
        font-size: 16px;
        margin: 15px 0 30px 0;
    }
    &__main-heading {
        color: #ffffff;
        font-family: "Lato";
        font-weight: $weight;
        font-size: 36px;
        margin: 0;
    }
    &__content-section {
        width: 395px;
    }
    &__bg-white-image {
        width: 477px;
        height: 521px;
    }
}