$primary-family: "lato";
$color-white: #ffffff;
$color-dark: #505050;
$color-yellow: #F2e162;
$color-blue: #265781;
$color-green: #52b27B;
$color-balck: #272727;
$weight: 900;
$dark-green: #1b7642;
$Firasans-family: "Fira sans";
$sansserif-family: sans-serif;
$footer-background-color: #1B7642;
$follow-us-border-color: #488964;
$footer-card-bg-color: #1B6D3E;
$subscribe-button-color: #393939;
$subscribe-input-color: #186a3b;
$about-us-bg-color: #3f3531;
$linear-gradient: #ffffff,
#f8f8f8;
$play-button-border-color: #4fc172;
$play-button-bg-color: #44AF72;
$image-path: "../images";