$family: "lato";
$color-white: #ffffff;
$color-dark: #505050;
$color-yellow: #F2e162;
$color-blue: #265781;
$color-green: #52b27B;
$color-balck: #272727;
$weight: 900;
$relative: relative;
$absolute: absolute;
$dark-green: #1b7642;
$center: center;
$flex: flex;
$row-direction: row;
$column-direction: column;
$Firasans-family: "Fira sans";
$sansserif-family: sans-serif;
$start: flex-start;
$end: flex-end;
$space-between: space-between;
$space-around: space-around;
$space-evenly: space-evenly;
$none: none;
$auto:auto;